.boton-navbar{
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-color{
    width: 100px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:15px;
    padding:20px;
    margin:10px auto 5px;
}

.boton-reset{
    width: 380px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:15px;
    padding:20px;
    margin:20px auto 5px;
}

.img-auto{
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
    margin-top:20px;
}

.boton-comprar{
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:15px;
    padding:20px;
    margin:5px auto 5px;
}

.card-text{
    padding: 20px;
    padding-bottom: 35px;
    font-size:18px;
    justify-content: center;
}

.titulo-navbar{
    font-weight: 700;
    font-size: 70px;
    text-align: center;
}

.subtitulo-navbar{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.barra{
    margin-bottom:100px;
}

.producto{
    margin:300px auto 300px;
    padding: 20px;
    display:flex;
    max-width: 1000px;
    width: 100%;
}

.resumen{
    margin:300px auto 300px;
    padding: 20px;
    display:flex;
    max-width: 1000px;
    width: 100%;
}

.card-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.titulo-color{
    font-weight: 700;
    font-size: 25px;
    text-align: center;

}

.titulo-footer{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.p-footer{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.footer{
    margin-top:300px;
}

.lista-auto {
  height: 240px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lista-auto .list-group-item {
  flex: 0 0 auto;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  border: 1px solid #dee2e6;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.precio{
    font-weight: 700;
    font-size:25px;
    text-align: center;
    padding:20px;
}

.boton-2da {
        width: 200px;
        height: 70px;
        font-size:25px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding:20px;
        margin:10px auto 5px;
    }

@media (max-width: 768px) {
    .footer .col-md-4,
    .footer .col-md-8 {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer .row {
        flex-direction: column;
    }

    .titulo-navbar {
        font-size: 40px;
    }

    .subtitulo-navbar {
        font-size: 20px;
    }

    .navbar-brand img {
        width: 60px;
        height: 60px;
    }

    .btn.boton-color {
        width: 100%;
        font-size: 14px;
    }
}