@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Share+Tech&display=swap');


.boton-color{
    font-family: 'Ancizar Sans',serif;
    background-color: 	#800000;
    width: 115px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:20px;
    padding:25px;
    margin:10px auto 5px;
}

/* 2 */
.boton-reset{
    width: 380px;
    font-family: 'Ancizar Sans',serif;
    background-color: 	#800000;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
    padding:20px;
    margin:20px auto 5px;
}

.img-auto{
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: block;
    margin-top:20px;
}

.background{
    background-color:	#fdfcfb ;
}

/* 2 */
.boton-comprar{
    font-family: 'Ancizar Sans',serif;
    background-color: #800000;;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    font-weight: 600;
    padding:20px;
    margin:5px auto 5px;
}

/* 2 */
.card-text{
    font-family: 'Ancizar Sans',serif;
    padding: 20px;
    padding-bottom: 35px;
    font-weight: 500;
    font-size:18px;
    justify-content: center;
}

/* 1 */
.titulo-navbar{
    color: 	#212529;
    font-family: 'Share tech',serif;
    font-weight: 900;
    font-size: 80px;
    text-align: center;
}

/* 1 */
.subtitulo-navbar{
    color: 	#212529;
    font-family: 'Share tech',serif;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
}

.barra{
    margin-bottom:50px;
    background-color: #dee2e6 ;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.producto{
    background-color: 	#f1f3f5;
    margin:50px auto 50px;
    padding: 20px;
    display:flex;
    max-width: 1000px;
    width: 100%;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.resumen{
    background-color: 	#f1f3f5;
    margin:100px auto 300px;
    padding: 20px;
    display:flex;
    max-width: 1000px;
    width: 100%;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

/* 1 */
.card-title{
    color: 	#212529;
    font-family: 'Share tech',serif;
    font-weight: 800;
    font-size: 50px;
    padding: 20px;
    margin: 30px auto auto;
    text-align: center;
}

/* 1 */
.card-title-2{
    color: 	#212529;
    font-family: 'Share tech',serif;
    font-weight: 800;
    font-size: 50px;
    padding: 10px;
    text-align: center;
}


/* 1 */
.titulo-color{
    color: 	#212529;
    font-family: 'Share tech',serif;
    font-weight: 800;
    font-size: 35px;
    text-align: center;

}

/* 1 */
.titulo-footer{
    color: 	#212529;
    font-family: 'Share tech',serif;
    color: 	#ffffff;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
}

/* 2 */
.p-footer{
    font-family: 'Ancizar Sans',serif;
    color: 	#ffffff;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}

.text-footer{
    font-family: 'Ancizar Sans',serif;
    color: 	#ffffff;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.footer{
    margin-top:50px;
    background-color: 	#343a40;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-2{
    margin-top:100px;
    background-color: 	#343a40;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* 2 */
.lista-auto {
  font-family: 'Ancizar Sans',serif;
  height: 240px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lista-auto .list-group-item {
  flex: 0 0 auto;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  background-color: #28a74688;
  border: 1px solid #dee2e6;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

/* 1 */
.precio{
    margin-top: 10px;
    font-family: 'Share tech',serif;
    font-weight: 800;
    font-size:35px;
    text-align: center;
    color: 	#28a745;
    padding:20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

/* 2 */
.boton-2da {
        font-family: 'Ancizar Sans',serif;
        width: 200px;
        height: 70px;
        font-size:25px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: 	#343a40;
        padding:20px;
        margin:10px auto 5px;
    }

/* cambios de color botones  */
.cambio-blanco{
    background-color: white;
    color: black;
}

.cambio-rojo{
    background-color: red;
    color: white;
}

.cambio-negro{
    background-color: black;
    color: white;
}

.cambio-success{
    background-color: #198754;
    color: white;
}

@media (max-width: 768px) {
    .footer .col-md-4,
    .footer .col-md-8 {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer .row {
        flex-direction: column;
    }

    .titulo-navbar {
        font-size: 40px;
    }

    .subtitulo-navbar {
        font-size: 20px;
    }

    .navbar-brand img {
        width: 60px;
        height: 60px;
    }

    .btn.boton-color {
        width: 100%;
        font-size: 14px;
    }
}